{# src/DIC/DicoBundle/Resources/views/Advert/index.html.twig #}

{% extends "DICDicoBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block menuGauche %}
{{ parent() }}
{% endblock %}

{% block dicdico_body %}


  <div class="container" style="margin:0px auto;max-width:900px;" id="results">

  <h1>Liste des mots les plus recherchés</h1>
  <div class="panel panel-default">
    <table class="table">
      <thead class="thead-default">
        <tr>
        <th>Mots</th>
        <th>Type</th>
        </tr>
      </thead>
        <tbody>
        {% for word in words %}
          <tr>
          <td><a href='#' onclick='replace(this)' id='{{ word['m'].name }}' >{{ word['m'].name }}</a></td>
          <td>{{ word['m'].typeNode }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
  </div>

{% endblock %}
