{# src/DIC/DicoBundle/Resources/views/Search/index.html.twig #}

 
  <h2><center>Résultat trouvé pour le mot<b> {{WordInfo.name|upper}} </b></center></h2>

      

<div id="menu"  class="container spacer about">
    <div class="row">
      <div class="col-sm-6 wowload fadeInLeft">
        <h4><i class="fa fa-pencil-square-o"></i> Definition </h4>
        {% if Definition %}
                {% for def in Definition %}
                  <p>{{def|truncate(200, true, '[..]') |raw}}</p>
                {% endfor %}
              {% else %}
                <p><b>Aucune définition correspondante au mot/expression {{WordInfo.name|upper}} </b></p>
              {% endif %}
        

      </div>
      <div class="col-sm-4 wowload fadeInRight">
        
         <h4><i class="fa fa-bars"></i> Relations</h4>

          <!-- menus -->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          {% for relation in result %}
            {% if relation.eltsFound %}

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{relation.name|replace({' ':'-','>':'-','/':'-'})}}" aria-expanded="true" aria-controls="{{relation.name|replace({' ':'-','>':'-','/':'-'})}}">
             <i class="fa fa-folder"></i> {{relation.name}}
            </a>
          </h4>
        </div>
        <div id="{{relation.name|replace({' ':'-','>':'-','/':'-'})}}" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <div >
                                {% for word in relation.eltsFound %}
                                    <a href='#' onclick='replace(this)' id='{{ word }}' >{{ word }}</a>
                                {% endfor %}
                              
            </div>
          </div>
        </div>
      </div>
            {% endif %}
          {% endfor %}
    

    </div>
          <!-- menus -->
    </div>



    </div>
    </div>