{% if result.cast_associated %}
<tr>
<td>
{% for word in result.cast_associated %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_raff_sem %}
<tr>
<td>
{% for word in result.cast_raff_sem %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_raff_morpho %}
<tr>
<td>
{% for word in result.cast_raff_morpho %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_domain %}
<tr>
<td>
{% for word in result.cast_domain %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_pos %}
<tr>
<td>
{% for word in result.cast_pos %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_syn %}
<tr>
<td>
{% for word in result.cast_syn %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_isa %}
<tr>
<td>
{% for word in result.cast_isa %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_anto %}
<tr>
<td>
{% for word in result.cast_anto %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_hypo %}
<tr>
<td>
{% for word in result.cast_hypo %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_holo %}
<tr>
<td>
{% for word in result.cast_has_part %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_holo %}
<tr>
<td>
{% for word in result.cast_holo %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_locution %}
<tr>
<td>
{% for word in result.cast_locution %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_flpot %}
<tr>
<td>
{% for word in result.cast_flpot %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_agent %}
<tr>
<td>
{% for word in result.cast_agent %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_patient %}
<tr>
<td>
{% for word in result.cast_patient %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_lieu %}
<tr>
<td>
{% for word in result.cast_lieu %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_instr %}
<tr>
<td>
{% for word in result.cast_instr %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_carac %}
<tr>
<td>
{% for word in result.cast_carac %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_data %}
<tr>
<td>
{% for word in result.cast_data %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_lemma %}
<tr>
<td>
{% for word in result.cast_lemma %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_magn %}
<tr>
<td>
{% for word in result.cast_magn %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_antimagn %}
<tr>
<td>
{% for word in result.cast_antimagn %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_family %}
<tr>
<td>
{% for word in result.cast_family %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_carac_1 %}
<tr>
<td>
{% for word in result.cast_carac_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_agent_1 %}
<tr>
<td>
{% for word in result.cast_agent_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_instr_1 %}
<tr>
<td>
{% for word in result.cast_instr_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_patient_1 %}
<tr>
<td>
{% for word in result.cast_patient_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_lieu_1 %}
<tr>
<td>
{% for word in result.cast_domain_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_lieu_1 %}
<tr>
<td>
{% for word in result.cast_lieu_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_chunk_pred %}
<tr>
<td>
{% for word in result.cast_chunk_pred %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_lieu_action %}
<tr>
<td>
{% for word in result.cast_lieu_action %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_action_lieu %}
<tr>
<td>
{% for word in result.cast_action_lieu %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_sentiment %}
<tr>
<td>
{% for word in result.cast_sentiment %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_error %}
<tr>
<td>
{% for word in result.cast_error %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_manner %}
<tr>
<td>
{% for word in result.cast_manner %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_meaning %}
<tr>
<td>
{% for word in result.cast_meaning %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_infopot %}
<tr>
<td>
{% for word in result.cast_infopot %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_telic_role %}
<tr>
<td>
{% for word in result.cast_telic_role %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_agentif_role %}
<tr>
<td>
{% for word in result.cast_agentif_role %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_verbe_action %}
<tr>
<td>
{% for word in result.cast_verbe_action %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_action_verbe %}
<tr>
<td>
{% for word in result.cast_action_verbe %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_conseq %}
<tr>
<td>
{% for word in result.cast_conseq %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_causatif %}
<tr>
<td>
{% for word in result.cast_causatif %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_adj_verbe %}
<tr>
<td>
{% for word in result.cast_adj_verbe %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_verbe_adj %}
<tr>
<td>
{% for word in result.cast_verbe_adj %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_chunk_sujet %}
<tr>
<td>
{% for word in result.cast_chunk_sujet %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_chunk_objet %}
<tr>
<td>
{% for word in result.cast_chunk_objet %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_chunk_loc %}
<tr>
<td>
{% for word in result.cast_chunk_loc %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_chunk_instr %}
<tr>
<td>
{% for word in result.cast_chunk_instr %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_time %}
<tr>
<td>
{% for word in result.cast_time %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_object_mater %}
<tr>
<td>
{% for word in result.cast_object_mater %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_mater_object %}
<tr>
<td>
{% for word in result.cast_mater_object %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_successeur_time %}
<tr>
<td>
{% for word in result.cast_successeur_time %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_make %}
<tr>
<td>
{% for word in result.cast_make %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_product_of %}
<tr>
<td>
{% for word in result.cast_product_of %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_against %}
<tr>
<td>
{% for word in result.cast_against %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_against_1 %}
<tr>
<td>
{% for word in result.cast_against_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_implication %}
<tr>
<td>
{% for word in result.cast_implication %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_quantificateur %}
<tr>
<td>
{% for word in result.cast_quantificateur %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_masc %}
<tr>
<td>
{% for word in result.cast_masc %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_fem %}
<tr>
<td>
{% for word in result.cast_fem %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_equiv %}
<tr>
<td>
{% for word in result.cast_equiv %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_manner_1 %}
<tr>
<td>
{% for word in result.cast_manner_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_agentive_implication %}
<tr>
<td>
{% for word in result.cast_agentive_implication %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_instance %}
<tr>
<td>
{% for word in result.cast_instance %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_verb_real %}
<tr>
<td>
{% for word in result.cast_verb_real %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_chunk_head %}
<tr>
<td>
{% for word in result.cast_chunk_head %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_similar %}
<tr>
<td>
{% for word in result.cast_similar %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_set_item %}
<tr>
<td>
{% for word in result.cast_set_item %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_item_set %}
<tr>
<td>
{% for word in result.cast_item_set %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_processus_agent %}
<tr>
<td>
{% for word in result.cast_processus_agent %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_variante %}
<tr>
<td>
{% for word in result.cast_variante %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_syn_strict %}
<tr>
<td>
{% for word in result.cast_syn_strict %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_is_smaller_than %}
<tr>
<td>
{% for word in result.cast_is_smaller_than %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_is_bigger_than %}
<tr>
<td>
{% for word in result.cast_is_bigger_than %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_accomp %}
<tr>
<td>
{% for word in result.cast_accomp %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_processus_patient %}
<tr>
<td>
{% for word in result.cast_processus_patient %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_verb_ppas %}
<tr>
<td>
{% for word in result.cast_verb_ppas %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_cohypo %}
<tr>
<td>
{% for word in result.cast_cohypo %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_der_morpho %}
<tr>
<td>
{% for word in result.cast_der_morpho %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_has_auteur %}
<tr>
<td>
{% for word in result.cast_has_auteur %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_has_personnage %}
<tr>
<td>
{% for word in result.cast_has_personnage %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_can_eat %}
<tr>
<td>
{% for word in result.cast_can_eat %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_has_actors %}
<tr>
<td>
{% for word in result.cast_has_actors %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_deplac_mode %}
<tr>
<td>
{% for word in result.cast_deplac_mode %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_has_interpret %}
<tr>
<td>
{% for word in result.cast_has_interpret %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_color %}
<tr>
<td>
{% for word in result.cast_color %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_cible %}
<tr>
<td>
{% for word in result.cast_cible %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_symptomes %}
<tr>
<td>
{% for word in result.cast_symptomes %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_predecesseur_time %}
<tr>
<td>
{% for word in result.cast_predecesseur_time %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_diagnostique %}
<tr>
<td>
{% for word in result.cast_diagnostique %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_predecesseur_space %}
<tr>
<td>
{% for word in result.cast_predecesseur_space %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_successeur_space %}
<tr>
<td>
{% for word in result.cast_successeur_space %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_social_tie %}
<tr>
<td>
{% for word in result.cast_social_tie %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_tributary %}
<tr>
<td>
{% for word in result.cast_tributary %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_sentiment_1 %}
<tr>
<td>
{% for word in result.cast_sentiment_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_linked_with %}
<tr>
<td>
{% for word in result.cast_linked_with %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_foncteur %}
<tr>
<td>
{% for word in result.cast_foncteur %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_comparison %}
<tr>
<td>
{% for word in result.cast_comparison %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_but %}
<tr>
<td>
{% for word in result.cast_but %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_but_1 %}
<tr>
<td>
{% for word in result.cast_but_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_own %}
<tr>
<td>
{% for word in result.cast_own %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_own_1 %}
<tr>
<td>
{% for word in result.cast_own_1 %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_verb_aux %}
<tr>
<td>
{% for word in result.cast_verb_aux %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_predecesseur_logic %}
<tr>
<td>
{% for word in result.cast_predecesseur_logic %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_successeur_logic %}
<tr>
<td>
{% for word in result.cast_successeur_logic %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_isa_incompatible %}
<tr>
<td>
{% for word in result.cast_isa_incompatible %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_compl_agent %}
<tr>
<td>
{% for word in result.cast_compl_agent %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_beneficiaire %}
<tr>
<td>
{% for word in result.cast_beneficiaire %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_descend_de %}
<tr>
<td>
{% for word in result.cast_descend_de %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_domain_subst %}
<tr>
<td>
{% for word in result.cast_domain_subst %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_prop %}
<tr>
<td>
{% for word in result.cast_prop %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_activ_voice %}
<tr>
<td>
{% for word in result.cast_activ_voice %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_make_use_of %}
<tr>
<td>
{% for word in result.cast_make_use_of %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_is_used_by %}
<tr>
<td>
{% for word in result.cast_is_used_by %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_adj_nomprop %}
<tr>
<td>
{% for word in result.cast_adj_nomprop %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_nomprop_adj %}
<tr>
<td>
{% for word in result.cast_nomprop_adj %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_adj_adv %}
<tr>
<td>
{% for word in result.cast_adj_adv %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_adv_adj %}
<tr>
<td>
{% for word in result.cast_adv_adj %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_link %}
<tr>
<td>
{% for word in result.cast_link %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_cooccurrence %}
<tr>
<td>
{% for word in result.cast_cooccurrence %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_aki %}
<tr>
<td>
{% for word in result.cast_aki %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_wiki %}
<tr>
<td>
{% for word in result.cast_wiki %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_annotation_exception %}
<tr>
<td>
{% for word in result.cast_annotation_exception %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_annotation %}
<tr>
<td>
{% for word in result.cast_annotation %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_inhib %}
<tr>
<td>
{% for word in result.cast_inhib %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_prev %}
<tr>
<td>
{% for word in result.cast_prev %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_associated %}
<tr>
<td>
{% for word in result.cast_succ %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_termgroup %}
<tr>
<td>
{% for word in result.cast_termgroup %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
{% if result.cast_learning_model %}
<tr>
<td>
{% for word in result.cast_learning_model %}
{{ word }}
{% endfor %}
</td>
</tr>
{% endif %}
